* {
  z-index: 0;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

h1 {
  position: fixed;
  top: 5vh;
  left: 30vw;
  width: 40vw;
  z-index: 100;
  text-align: center;
  font-size: 5vh;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}

#center {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0vh;
  left: 0vw;
}
